.resultSquare {
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  font-weight: bold;
}

.infoContainer {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 5px;

  span {
    display: flex;
    justify-content: space-between;
  }
}
