.squareContainer {
  border: 1px solid white;
  width: 100px;
  height: 100px;
  cursor: pointer;

  &.active {
    background: red;
  }

  &.inactive {
    background: green;
  }

  &.softActive {
    opacity: 0.3;
  }
}
